body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #0F1B07;
  color: #eee;
  height: 100vh; 
}

.landing-page { 
  display: flex;
  flex-direction: column;
  height: 100v;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #0F1B07;
  margin-left: 8%;
  margin-top: 2%;
}

.logo {
  display: flex;
  align-items: center;
}

.s-logo {
  width: 50px;
  margin-right: 10px;
  border-radius: 26%;
  margin-top: 10%;
}

.text-container {
  display: flex;
  flex-direction: column;
}

.solo {
  font-size: 4vw; 
  font-weight: bold;
  margin-right: 5px;
}

.by {
  font-size: 13px;
  line-height: 0;
  margin-left: 20px;
}

.stars {
  font-size: 14px;
  letter-spacing: 1.3px;
  line-height: 40px;
}

.start-earning1 {
  border-color: #CBEC81;
  background-color: #0F1B07;
  color: #CBEC81;
  padding: 12px 40px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  letter-spacing: 1.5px;
  line-height: 16px;
}

.start-earning1 img {
  width: 20px;
  margin-left: 5px;
  color: #BCFA29;
}

.start-earning {
  border-color: #CBEC81;
  background-color: #0F1B07;
  color: #CBEC81;
  padding: 12px 40px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  margin-top: 18%;
  letter-spacing: 1.5px;
  line-height: 16px;
}

.start-earning img {
  width: 20px;
  margin-left: 5px;
}

.content {
  padding: 30px;
  text-align: left;
  font-size: 1vw;
  margin-left: 6%;
  flex-direction: row;
  display: flex;
  flex: 1; 
  margin-top: 10%;
}

.text {
  margin-bottom: 30px;
}

.text h1 {
  margin: 1px 1vh;
  line-height: 55px;
  color: #C3FD39;
  font-size: 10vh;
  font-weight: 100;
  width: 200%;
}

.text p {
  font-size: 1.3vw;
  width: 200%;
}

.box1 {
  background-color: #344813;
  height: 40vh;
  width: 16vw;
  margin-left: 18%; 
  padding: 4px 100px;
  border-radius: 10px;
  margin-bottom: 35% 
}

.ImageBox {
  display: flex;
  justify-content: space-between;
  width: 220%; 
  height: 99%;
  gap: 10%;
  align-items: center;
}

.ImageContainer1,
.ImageContainer2 {
  position: relative;
  width: 200%; 
  height: 110%;
  overflow: hidden;
  border-radius: 10%;
}

.ImageContainer1 {
  right: 25%;
  bottom: 18%;
  background-color: #F301AD;
}

.ImageContainer2 {
  right: 38%;
  top: 25%;
  background-color: #333C3B;
}

img {
  width: 100%;
  height: auto;
  display: block;
  border-bottom-right-radius: 50% 10%;
  border-bottom-left-radius: 50% 10%;
}

.name1 h1 {
  position: relative;
  font-size: 40px; 
  font-weight: 200;
  left: 6%;
  line-height: 0.1%;
}

.name2 h1 {
  position: relative;
  font-size: 40px; 
  font-weight: 200;
  left: 45%;
  line-height: 0.1%;
}

.name1 p {
  position: relative;
  font-size: 16px; 
  font-weight: 200;
  left: 7%;
}

.name2 p {
  position: relative;
  font-size: 16px; 
  font-weight: 200;
  left: 62%;
}

.block1 {
  position: relative;
  font-size: 80%;  
  right: 6%; 
  background: #C3FD39;
  padding: 2% 4%;
  width: 5vw;
  border-radius: 20%;
  color: black;
  bottom: 10%;
}
.block1 p{
  font-size: 11px;
}

.block1 h1 { 
  line-height: 1%;
  font-weight: 150;
}
.tricky-icon{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5%;
}
.block2 {
  position: relative;
  font-size: 80%;  
  left: 59%; 
  background-color: white;
  background-image: linear-gradient(to bottom, white 0%,#D8FF7B 90%, #D8FF7B 100%);
  padding: 5% 4%;
  width: 5vw;
  border-radius: 20%;
  color: black;
  bottom: 138%;
}
.block2 p{
  font-size: 9px;
}

.block2 h1 { 
  line-height: 3%;
  font-weight: 150;
}
